<div class="hy_right_rigt left">
    <div class="hy_right_title">
        <h2>联系我们</h2>
        <div class="hy_right_p">
            <h3>北京市海淀区科学院南路2号，融科资讯中心C座南楼6层</h3>
            <p class="bg_none">电 话： +86 10 8265 5888</p>
            <p class="bg_none">传 真： +86 10 8265 5800</p>
            <p class="padding_10"><a href="mailto:honymaster@honycapital.com" class="gray">honymaster@honycapital.com</a></p>
            <h3>香港中环交易广场第一座27楼2701 室</h3>
            <p class="bg_none">电 话：+852 3961 9700</p>
            <p class="bg_none">传 真：+852 3971 9799</p>
            <p class="padding_10"><a href="mailto:honymaster@honycapital.com" class="gray">honymaster@honycapital.com</a></p>
            <h3>上海市黄浦区圆明园路149号哈密大楼</h3>
            <p class="bg_none">电话：+86 21 60322888</p>
            <p class="bg_none">传真：+86 21 60322800</p>
            <p class="bg_none padding_10"><a href="mailto:honymaster@honycapital.com" class="gray">honymaster@honycapital.com</a></p>
        </div>
    </div>
</div>