<div class="hy_right_rigt left">
    <div class="hy_right_title">
        <h2>联系我们</h2>
        <div class="hy_right_p">
            <h3>上海天厦资产管理有限公司 上海总部</h3>
            <p class="bg_none">电 话： 021-52377725</p>
            <p class="bg_none">地址：上海市普陀区武宁路19号丽晶阳光大厦1911室</p>

            <h3>上海天厦资产管理有限公司（北京）分公司</h3>
            <p class="bg_none">电话：010-88809177</p>
            <p class="bg_none">地址：北京市海淀区区北四环西路9号银谷大厦607-609室</p>

            <h3>广州彰信投资管理有限公司</h3>
            <p class="bg_none">电话：020-66218878</p>
            <p class="bg_none">地址：广州市越秀区民间金融街328号</p>
            </div>
    </div>
</div>