<LINK media=all href="../stylesheets/contact.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main"><div class="hy_main_left left">
    <ul>
        <li><a href="/about/origin.html">天厦溯源</a></li>
        <li><a href="/about/corporation/introduce.html">天厦介绍</a></li>
        <li><a href="/about/core/ability.html">核心能力</a></li>
        <li><a href="/about/operation/domain.html">业务领域</a></li>
        <li><a href="/about/invest/logos.html">投资理念</a></li>
        <li><a href="/about/course/glory.html">历程与荣誉</a></li>
    </ul>
</div>
    <div class="hy_main_right left">
        <!--左边内容开始-->
        <div class="hy_right_left left">
            <div class="main_banner">
                <a href="/index.html" class="gray">首页</a>  &gt;
                联系我们
            </div>
            <img src="/images/pic_09.gif">
            <div class="contact_p">
                <p>
                    天厦资产本着以“增值服务，价值创造”的投资理念，热忱欢迎您联系我们，了解公司情况、洽谈业务合作、商讨投资项目、垂询工作机会。</p>
                <p>
                    天厦资产全体同仁向您致以真诚的问候，并对您一直以来的支持与关爱表示感谢！</p>
            </div>
            <div class="contact_add">
                <h2>
                    北京市海淀区科学院南路2号，融科资讯中心C座南楼6层</h2>
                <p>
                    电 话：&nbsp;+86 10&nbsp;8265 5888</p>
                <p>
                    传 真：&nbsp;+86 10&nbsp;8265 5800</p>
                <p>
                    <a class="gray" href="mailto:honymaster@honycapital.com">honymaster@honycapital.com</a></p>
                <div class="us-pic">
                    <img src="/images/us-2.gif"></div>
                <h2>
                    香港中环交易广场第一座27楼2701室</h2>
                <p>
                    电话： <span class="skype_pnh_help_container"><span class="skype_pnh_print_container">+852 3961 9700</span><span class="skype_pnh_help_container2"><span class="skype_pnh_container" dir="ltr" tabindex="-1"><span class="skype_pnh_mark">&nbsp;</span><span class="skype_pnh_highlighting_inactive_common" dir="ltr" title="Call this phone number in Hong Kong with Skype: +85239619700"><span class="skype_pnh_left_span" skypeaction="skype_dropdown">&nbsp;</span><span class="skype_pnh_dropart_span" skypeaction="skype_dropdown" title="Skype操作"><span class="skype_pnh_dropart_flag_span" skypeaction="skype_dropdown" style="background-position: -2443px 1px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span></span></span></span></p>
                <p>
                    传真：&nbsp;+852 3971 9799</p>
                <p>
                    <a class="gray" href="mailto:honymaster@honycapital.com">honymaster@honycapital.com</a></p>
                <div class="us-pic">
                    <div class="us-pic">
                        <img src="/images/us-1.gif"></div>
                </div>
                <h2>
                    &nbsp;上海市黄浦区圆明园路149号哈密大楼&nbsp; 200002</h2>
                <p>
                    电话： <span class="skype_pnh_help_container">+86 21 6032 2888</span></p>
                <p>
                    传真：&nbsp;+86 21 6032 2800</p>
                <p>
                    <a class="gray" href="mailto:honymaster@honycapital.com">honymaster@honycapital.com</a></p>
                <div class="us-pic">
                    <div class="us-pic">
                        <img src="/images/us-3.gif"></div>
                </div>
            </div>

        </div>
        <div class="hy_right_rigt left">
            <div class="hy_right_title">
                <h2>投资案例</h2>
                <div class="hy_right_p">
                    <h3><a href="/investment/state/farm/13/1.html#invest_13" class="gray">中国玻璃控股有限公司</a></h3>
                    <p>中国玻璃控股有限公司是中国效率最高的平板玻璃制造商。2004年，联想控股旗...</p>
                    <h3><a href="/investment/private/enterprise/23/1.html#invest_23" class="gray">科宝博洛尼</a></h3>
                    <p>科宝 • 博洛尼是中国整体厨房及整体家居领域的领先企业，整体厨房销售额位居...</p>
                    <h3><a href="/investment/private/enterprise/24/1.html#invest_24" class="gray">先声药业（集团）有限公司</a></h3>
                    <p>先声药业是中国医药领域快速成长的民营企业之一，在医药营销和医药新产品研发方...</p>
                    <h3><a href="/investment/state/farm/14/1.html#invest_14" class="gray">中联重科股份有限公司</a></h3>
                    <p>中联重科股份有限公司，创建于1992年，是中国工程机械装备制造龙头企业，全...</p>

                </div>
            </div>
            <div class="hy_right_title">
                <h2>新闻资讯</h2>
                <ul class="hy_right_ul">
                    <li><a href="/news/28/one/428.html" class="gray">天厦资产携手SMG 首度涉足影视业</a></li>
                    <li><a href="/news/28/one/427.html" class="gray">PE巨头天厦资产联姻SMG发起30亿元影视专项基金</a></li>
                    <li><a href="/news/28/one/426.html" class="gray">专家称未来十年中美贸易不平衡局面将明显改善</a></li>
                    <li><a href="/news/28/one/424.html" class="gray">赵令欢：无须抗周期</a></li>
                    <li><a href="/news/28/one/425.html" class="gray">博鳌亚洲论坛投资人圆桌会议分论坛会议文字实录</a></li>
                </ul>
            </div>			</div>
            <% include ../footer.html %>
        		</div>
</div>