    <DIV class=edition><SPAN><A class=top
                                href="http://www.honycapital.com/recruitment.html">招贤纳士</A> | <A class=top
                                                                                                 href="http://www.honycapital.com/sitemap.html">网站地图</A> </SPAN><A class=top
                                                                                                                                                                   href="http://www.honycapital.com/">中文</A> | <A class=top
                                                                                                                                                                                                                  href="http://www.honycapital.com/hony_en">English</A>
        <FORM style="MARGIN-LEFT: 1px" action=/search/all/key/0/1.html
              method=post><INPUT id="" name=key><BUTTON name="" type=submit
                                                        value="">提交</BUTTON> </FORM></DIV>
    <DIV class="hy_logo left"><A
            href="http://www.honycapital.com/"><SPAN>天厦投资</SPAN></A></DIV>
    <DIV class="hy_title left">
        <UL class=hy_list>
            <LI class=hy_home><A href="http://127.0.0.1:4000">首页</A> </LI>
            <LI class=hy_about><A
                    href="http://127.0.0.1:4000/about/index.html">关于天厦</A> </LI>
            <LI class=hy_portfolio><A
                    href="http://127.0.0.1:4000/invest/index.html">投资案例</A>
            </LI>
            <LI class=hy_executives><A
                    href="http://127.0.0.1:4000/manage/index.html">高管团队</A> </LI>
            <LI class=hy_news><A
                    href="http://127.0.0.1:4000/news/index.html">新闻资讯</A> </LI>
            <LI class=hy_contact><A
                    href="http://www.honycapital.com/contact/us.html">联系我们</A>
            </LI></UL>
    </DIV>

