    <DIV class=edition><SPAN><A class=top
                                href="http://192.168.1.105:4000/contact/index.html">联系我们</A> | <A class=top href="http://192.168.1.105:4000/sitemap/index.html">网站地图</A> </SPAN>
        </DIV>
    <DIV class="hy_logo left"><A
            href="http://www.honycapital.com/"><SPAN>天厦投资</SPAN></A></DIV>
    <DIV class="hy_title left">
        <UL class=hy_list>
            <LI class=hy_home><A href="http://192.168.1.105:4000">首页</A> </LI>
            <LI class=hy_about><A
                    href="http://192.168.1.105:4000/about/index.html">关于天厦</A> </LI>
            <LI class=hy_portfolio><A
                    href="http://192.168.1.105:4000/invest/index.html">投资案例</A>
            </LI>
            <LI class=hy_executives><A
                    href="http://192.168.1.105:4000/manage/index.html">高管团队</A> </LI>
            <LI class=hy_news><A
                    href="http://192.168.1.105:4000/news/index.html">新闻资讯</A> </LI>
            <LI class=hy_contact><A
                    href="http://192.168.1.105:4000/job/index.html">招贤纳士</A>
            </LI></UL>
    </DIV>

