<LINK media=all href="stylesheets/index.css" type=text/css rel=stylesheet>
<DIV class=index_w>
    <DIV class=hy_index_w>
        <DIV class=hy_index_top>
        <% include header.html %>
        </DIV>
    </DIV>
    <DIV class=hy_index_pic>

        <img src="/images/back.png">
    </DIV>
    <DIV class=hy_index_w>
        <DIV class=hy_index_foot>
            <DIV class="hy_index_foot_left left">
                <H2><A class=blue
                       href="http://192.168.1.105:4000/news/index.html"><SPAN>更多</SPAN></A>新闻中心</H2>
                <UL>
                    <LI><A class=blue
                           href="/news/static/1.html">“天厦财富一号”基金正式成立...</A><BR><SPAN>2013-11-01</SPAN>
                    <LI><A class=blue
                           href="/news/static/2.html">央行通过7天期逆回购向市场注入170亿元...</A><BR><SPAN>2013-07-30</SPAN>

                    <LI><A class=blue
                           href="/news/static/3.html">银联国际与澳新银行签署全球合作备忘录...</A><BR><SPAN>2013-01-17</SPAN>
                    </LI></UL></DIV>
            <DIV class="hy_index_foot_right left">
                <OL>
                    <LI><A class=current id=button_1 onmouseover=show_hidden_invest(1);
                           href="/invest/index.html">投资案例概览</A>
                    </LI>
                    <LI><A id=button_2 onmouseover=show_hidden_invest(2);
                           href="/manage/index.html">基金产品</A>
                    </LI>
                    </OL>
                <SCRIPT>
                    function show_hidden_invest(	ls_i	){
                        for( var i = 1 ; i < 5 ; i++ ){
                            if(i == ls_i){
                                $('invest'+i).setStyle('display', 'block');
                                $('button_'+i).addClass('current');
                            }else{
                                $('invest'+i).setStyle('display', 'none');
                                $('button_'+i).removeClass('current');
                            }
                        }
                    }
                </SCRIPT>

                <DIV class=foot_right_main id=invest1>
                    <DIV class="foot_main_left left"><A
                            href="/invest/zztxjiali.html"><IMG
                            style="WIDTH: 72px"
                            src="/images/zztxjialilogo.jpg"></A>
                        <H3><A class=blue
                               href="http://192.168.1.105:4000/invest/zztxjiali.html">天厦·嘉里中心</A></H3>
                        <P>天厦·嘉里中心（原名天下豫商城、紫楠小区）建筑面积约23万...</P></DIV>
                    <DIV class="foot_main_right left">
                        <UL>
                            <LI><A class=gray
                                   href="http://192.168.1.105:4000/invest/zztxjiali.html">天厦·嘉里中心</A>

                            <LI><A class=gray
                                   href="http://192.168.1.105:4000/invest/xianluoma.html">西安骡马.星时代</A>

                            <LI><A class=gray
                                   href="http://192.168.1.105:4000/invest/hzlanhua.html">汉中汉水华庭</A>
                            </LI></UL><!-- <span><a href="/investment/portfolio/0/0/1.html" class="blue">更多</a></span> --></DIV></DIV>
                <DIV class=foot_right_main id=invest2 style="DISPLAY: none">
                    <DIV class="foot_main_left left"><A
                            href="/manage/tianxia_one.html"><IMG
                            style="WIDTH: 72px"
                            src="/images/jijinlogo.gif"></A>
                        <H3><A class=blue
                               href="/manage/tianxia_one.html">天厦财富一号</A></H3>
                        <P>基金名称： 上海天厦股权投资中心（有限合伙）郑州天厦嘉里中心一期项目和二期项目...</P></DIV>
                    </DIV>

                <SPAN class=right_more><A class=blue
                                                                            href="http://192.168.1.105:4000/invest/index.html">更多</A></SPAN>
                <SCRIPT language=JavaScript>
                    //	console.log(   (document.body.clientWidth   /2)   -(1180)/2	);
                    //	console.log(document.body.clientWidth);
                </SCRIPT>
                <% include footer.html%>
                </DIV></DIV></DIV></DIV>
<SCRIPT language=JavaScript>
    function goto_link(){
        //alert(333);
        window.location.href="/about/origin.html";
    }

        $$(".hy_home a").addClass("a-hover");
</SCRIPT>

