@charset "utf-8";
/* CSS Document */
.hy_main_right .hy_right_left .bg_none{
    background:none;
}
.hy_main_right .hy_right_left{
    width:713px;
    margin-bottom:20px;
    overflow:hidden;
}
.hy_right_left p{
    text-indent:2em;
}
.porfolio_flash{
    width:713px;
    height:479px;
    margin:15px auto;
}
.porfolio_flash img{
    width:713px;
    height:479px;
    margin:0;
}
.porfolio_title{
    border:1px solid #ebebeb;
    border-bottom:6px solid #eee;
}
.porfolio_title .porfolio_form{
    background:url(../images/portfolio_bg.gif) repeat-x left top;
    height:32px;
}
.porfolio_title .porfolio_form select{
    float:right;
    margin-right:10px;
    margin-top:5px;
    color:#999;
}
.about_list{
    width:700px;
    overflow:hidden;
    margin-left:10px;
    border-bottom:1px solid #e8e8e8;
}
.about_list dl{
    width:330px;
    float:left;
    margin-right:30px;
    background:url(../images/about_bg.gif) repeat-x left bottom;
    padding:15px 0;
}
.about_list dl dt{
    font-weight:bold;
    margin-left:130px;
    line-height:18px;
}
.about_list dl dd img{
    width:114px;
    height:74px;
    border:4px solid #ccc;
    float:left;
    margin:0;
}
.about_list dl dd.about_ddM{
    line-height:22px;
    height:65px;
    margin-left:130px;
}
.about_list dl.dl_bg_none{
    background:none;
}
.porfolio_a{
    text-align:center;
    height:35px;
    line-height:35px;
}
.porfolio_a span{
    margin:0 5px;
}
.porfolio_a a{
    margin-right:5px;
    text-decoration:none;
    padding:0 5px;
    background:#CCCCCC;
    color:#333333;
}
.porfolio_a a:hover{
    background:#999999;
}

.z-portfolio_main{
    width:800px;
    margin-bottom:20px;
    overflow:hidden;
    vertical-align:top;
}
.z-portfolio{
    width:217px;
    margin-top:25px;
    margin-right:30px;
    overflow:hidden;
}
.z-portfolio .portfolio_img{
    /*width:207px;*/
    height:97px;
    background:#e8ecf1;
    padding:5px;
    text-align:center;
}
.z-portfolio .portfolio_img span{
    width:207px;
    overflow:hidden;
    display:block;
}
.z-portfolio .portfolio_img img{
    /*width:207px;*/
    height:97px;
    margin:0 auto;



}
.z-portfolio h3{
    height:28px;
    line-height:28px;
    font-size:12px;
    border-bottom:2px solid #3565b6;
}
.z-portfolio .z_portfolioP{
    border-top:2px solid #cecece;
    background:#f2f2f2;
    padding:5px;
    margin-top:1px;
}
.z-portfolio .z_portfolioP p{
    height:115px;
    text-indent:2em;
    overflow:hidden;
}
.z-portfolio .z_portfolioP span{
    height:30px;
    line-height:30px;
    display:block;
    background:#fff;
    text-align:right;
    margin-top:15px;
    padding-right:5px;
}
.news_foot{
    text-align:center;
    border-top:4px solid #e8e8e8;
    padding-top:5px;
    line-height:30px;

}
.news_foot a{
    margin-right:7px;
}
/*************新版样式*****************/
.main_banner{
    margin-bottom:10px;
}
.investment-map{
    margin-top:10px;
}
.investment-map-title{
    background:url(../images/investment_03.gif) repeat-x left top;
    height:31px;
    border:1px solid #e9e9e9;
    text-indent:-5000px;
}
.investment-mode{
    background:url(../images/investment_03.gif) repeat-x left top;
    height:25px;
    border:1px solid #e9e9e9;
    text-align:right;
    padding-top:6px;
    padding-right:10px;
}
.investment-title{
    margin-top:10px;
    float:left;
}
.investment-title h3{
    height:30px;
    line-height:30px;
    background:#f3f3f3;
    color:#163f84;
    font-size:12px;
    padding:0 10px;
}
.investment-title h3 span{
    font-weight:normal;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
}
.investment-title img{
    width:121px;
    height:auto;
    float:left;
    margin:10px 10px 0 0;
}
.investment-title .investment-p{
    margin-top:10px;
    float:right;
    width:580px;
    text-indent:0;
}
.investment-foot{
    text-align:center;
    border-top:3px solid #e8e8e8;
    margin-top:20px;
    padding-top:10px;
    font-size:14px;
}
.investment-foot a{
    color:#666;
    text-decoration:none;
    margin:0 5px;
}
.investment-foot a.spacing{
    padding:2px 5px;
    background:#ccc;
    text-decoration:none;
}