<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a class="facing" href="/manage/index.html">基金产品</a></li>
            <li><a href="/manage/tianxia_one.html">天厦财富一号</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/manage/index.html" class="gray">基金产品</a>  &gt;
            天厦财富一号
        </div>
        <p style="text-indent:0;">基金由上海天厦资产管理有限公司作为一般合伙人（General Partner，GP）遵照《中华人民共和国合伙企业法》等相关政策、法律、行政法规，以定向募集方式设立。旨在充分利用我国经济快速发展所创造的投资机遇，寻求项目资产的快速增值。<br><br>

            投资人在做出投资决策前，应认真阅读募集说明书全文。若投资人对本募集说明书存在任何疑问，请及时向基金管理人咨询。
        <img src="/images/shtxjijin.jpg" style="width: 680px;height: 300px">
        </p>
        <!--<div class="investment-map">-->
        <!--<div class="investment-map-title">投资案例地图</div>-->
        <!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="713" height="320">-->
        <!--<param name="movie" value="/s/pic/map.swf">-->
        <!--<param name="quality" value="high">-->
        <!--<embed src="/s/pic/map.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="713" height="320">-->
        <!--</object>-->
        <!--</div>-->
        <div class="investment-mode">
            <select name="type_id" id="type_id" onchange="go_url();">
                <option value="index">基金产品</option>
                <option value="tianxia_one">天厦财富一号</option>

            </select>
            <script>
                function go_url(){
                    var type_id =$('type_id').value;
                    window.location.href="/manage/"+type_id+".html";
                }
            </script>
        </div>
        <div class="investment-title">
            <h3><span><a href="/manage/tianxia_one.html" style="color: #163f84;">详情</a></span><a href="/manage/tianxia_one.html" style="color: #163f84;">天厦财富一号</a></h3>
            <img src="/images/jijinlogo.gif">
            <div class="investment-p">
                基金名称：  上海天厦股权投资中心（有限合伙）<br>
                资金运用：郑州天厦嘉里中心一期项目和二期项目<br>
            </div>
        </div>

    </div>
    <% include ../footer.html %>
</div>
</div>

<SCRIPT language=JavaScript>
    $$(".hy_executives a").addClass("a-hover");
</SCRIPT>