<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/manage/index.html">基金产品</a></li>
            <li><a class="facing" href="/manage/tianxia_one.html">天厦财富一号</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/manage/index.html" class="gray">基金产品</a>  &gt;
            天厦财富一号
        </div>

        <div class="investment-title">
            <h3><span></span><a href="/manage/tianxia_one.html" style="color: #163f84;">天厦财富一号</a></h3>
            <img src="/images/jijinlogo.gif">
            <div class="investment-p">
                基金名称：  上海天厦股权投资中心（有限合伙）<br>
                基金管理人：上海天厦资产管理有限公司<br>
                托管方：    中信银行上海分行<br><br>

                认购账户：<br>
                账户名称： 上海天厦股权投资中心（有限合伙）<br>
                开户银行： 中信银行上海分行营业部<br>
                银行账号： 7311010182600204361<br><br>

                有限合伙人入伙的条件：<br>
                有限合伙人资格：有限合伙人应系具有完全民事行为能力的自然人、法人或者依法成立的其他组织，且为合格投资者。<br>
                投资资金合法性要求：有限合伙人须保证其资金为其合法所有的可支配财产。<br>
                资金要求：认购资金为人民币100万元以上，并以10万元的整数倍递增。<br><br>

                资金运用：郑州天厦嘉里中心一期项目和二期项目<br>
                基金规模：10亿 （第一期：2亿；第二期：4亿；第三期：4亿）<br>
                募资期限：本次募资分三期进行。第一期自《招募说明书》公告之日起2个月，第二期自基金管理人宣布第一期募资到位后第二个工作日起4个月，第三期自基金管理人宣布第二期募资到位后第二个工作日起6个月，可由基金管理人视情况宣布提前结束或延长，基金管理人有权决定随时宣布募资到位而结束募资。如基金管理人放弃本投资计划，基金管理人将承担因募集行为而产生的债务和费用，并在募集期限届满后 10个工作日内将已募集的资金加计银行同期活期存款利息（以实际发生为准）退还基金份额持有人。<br>
                存续期：18个月（满12个月，一般合伙人可以选择宣布解散合伙企业，清算投资者出资额及投资收益）<br>
                运作方式：合伙企业采取封闭式运作，存续期内不开放财产份额的提前退出，合伙人不得违反合伙协议约定退伙，但可按照合伙协议约定将其持有的财产份额转让给符合条件的特定投资者。<br><br>

                认购要求：<br>
                1.认购原则：有限合伙人总人数不超过49人，有效认购应遵循金额孰大优先及同等金额时间孰早优先的原则。<br>
                2.投资者必须在募集期限内提交制定的应提交的材料，并在银行完成资金划拨，办理认购手续。<br>
                3.投资者必须按照普通合伙人的通知，一次性将认购缴出资转入基金认购账户。<br><br>

                风险控制<br>
                a. 河南嘉里房地产开发有限公司承担无限连带责任担保。<br>
                b. 上海天厦资产管理有限公司及其下属所有分（子）公司对募集资金提供不可撤销的连带责任担保，到期如发生偿付问题，由上海天厦资产管理有限公司及其下属所有分（子）公司以现金代偿的方式偿付本合伙企业投资的资本金和预期收益。<br>
                c.河南嘉里房地产开发有限公司将100%股权质押给上海天厦资产管理有限公司。<br>
                d. 本基金将派驻一名具有丰富地产管理、金融行业从业经验的人员进驻河南嘉里房地产开发有限公司进行资金监管并对项目运营决策具有一票否决权。<br><br>

                还款来源<br>
                第一还款来源：天厦.嘉里中心项目一期和项目二期的销售收入。<br>
                第二还款来源：上海天厦资产管理有限公司及其下属所有分（子）公司代偿。<br><br>

                <img src="/images/tianxia_one.jpg" style="width: 180px">
                <img src="/images/hehuoxieyi.jpg" style="width: 180px">
                <img src="/images/caicanhuigou.jpg" style="width: 180px"><br>


            </div>
        </div>


    </div>
    <% include ../footer.html %>
</div>
</div>

<SCRIPT language=JavaScript>
    $$(".hy_executives a").addClass("a-hover");
    $$(".investment-title img").setStyle("float","none");
</SCRIPT>