<LINK media=all href="../stylesheets/recruitment.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a class="facing" href="/job/index.html">招贤纳士</a></li>
            <li><a href="#xiangmujingli">项目经理</a></li>
            <li><a href="#caiwujingli">财务经理</a></li>
            <li><a href="#licaijingli">理财经理</a></li>
            <li><a href="#kehujingli">客户经理</a></li>
        </ul>
        <br>

        <div class="hy_right_p" style="width: 174px;margin-left: 30px;padding-right: 0px;">
            <h3>联系人：宋经理</h3>
            <h3>
                地 址 : 上海市普陀区武宁路19号丽晶大厦1911室</h3>
            <h3>
                邮 编 : 200042</h3>
            <h3>
                电 话 :021-52377725-855</h3>
            <h3>
                邮 件 : <a href="mailto:sjj_apple@sina.com" style="color: #555555">sjj_apple@sina.com</a></h3>
        </div>
    </div>




    <div class="hy_main_right left">
        <div class="hy_right_left left">
            <div class="main_banner"><a href="/" class="gray">首页</a> &gt; 招贤纳士</div>
            <h2>招贤纳士</h2>
            <div class="executives_main">

                <div class="recruitment_p clear">
                    <a name="xiangmujingli">岗位名称</a>：<span id="position_title">项目经理</span>
                </div>
                <div class="recruitment_p">
                    <b>工作地点</b>：<span id="working_place">上海</span>
                </div>
                <div class="recruitment_p">
                    <b>岗位职责</b>：
                    <div id="position_function">

                        <p>
                            1、 负责收集各地投资信息，并定期报送书面报告。</p>
                        <p>
                            2、 分析研究国家和地方的有关投资政策及各种优惠政策，制订公司年度投资计划。</p>
                        <p>
                            3、 按要求参加投资机会研究，进行投资的相关调查和分析，提交投资项目情况报告。 </p>
                        <p>
                            4、 办理项目投资的具体执行事宜，如资金筹措、融资计划、评估分析、跟踪管理等，测算与监控公司投资项目的运作情况及效益情况，完成投资项目的投资计划和目标。 </p>
                        <p>
                            5、建立与保持与各种相关信息单位或个人的有效联系，优化公司融资渠道。 </p>
                        <p>6、贯彻公司管理制度与业务流程，管理部门团队，组织日常业务辅导与专业培训。</p>
                    </div>
                </div>
                <div class="recruitment_p">
                    <b>任职资格</b>：
                    <div id="position_require">
                        <p>
                            1、大学本科以上学历，财务类、金融类、投资类专业。</p>
                        <p>
                            2、30-45岁，5年以上相关工作经验，有从事公司投资、项目开发管理、资产经营管理等从业经验者为优。</p>
                        <p>
                            3、3年以上管理经验。</p>
                        <p>
                            4、熟悉公司财务分析、财务管理、预算管理，熟悉资本运作业务，熟练掌握投融资流程和专项业务知识；熟悉国家相关财务、经济、金融及管理体制改革等方面法律法规政策；受过管理学、经济学、战略管理、管理技能开发、公共关系、财务知识等方面的培训。</p>
                        <p>
                            5、 英文听说读写熟练，能独立撰写英文报告，并熟练陈述</p>
                        <p>
                            6、具有较强的组织协调能力、逻辑思维能力、判断与决策能力、商务谈判能力、财务风险控制能力、人际沟通公关能力；有职业素质、责任感，工作稳健果断、条理性强，讲究工作效率，能承受较大的工作压力。</p>

                    </div>
                </div>

                <div style="border-bottom: 1px solid #555555"></div>
                <div class="recruitment_p clear">
                    <a name="caiwujingli">岗位名称</a>：<span id="position_title">财务经理</span>
                </div>
                <div class="recruitment_p">
                    <b>工作地点</b>：<span id="working_place">上海</span>
                </div>
                <div class="recruitment_p">
                    <b>岗位职责</b>：
                    <div id="position_function">
                        <p>1、根据公司具体业务需要和集团要求制订各项财务管理制度和实施办法；</p>
                        <p>2、根据公司业务发展需求，制订年度、季度、月度预算，并监督其执行实施；</p>
                        <p>3、根据公司行业、业务和管理特点，进行公司税务筹划，在合法前提下确保公司税负最低；</p>
                        <p>4、公司日常会计账目处理；</p>
                        <p>5、公司日常资金收付进行管理审核；</p>
                        <p>6、负责编制各类财务报表；</p>
                        <p>7、根据公司董事会和管理层需要，提供各种财务分析报告；</p>
                        <p>8、协调和配合内外部审计工作；</p>
                        <p>9、其他财务相关工作；</p>
                        <p>10、熟悉银行公司业务及有银行合作经验者优先。</p>
                    </div>
                </div>
                <div class="recruitment_p">
                    <b>任职资格</b>：
                    <div id="position_require">
                        <p>1、大学专科及以上学历，会计、财务管理相关专业；</p>
                        <p>2、5年以上工作经验；</p>
                        <p>3、熟悉国家、上海市和地方政府各项财税政策；</p>
                        <p>4、工作态度严谨、务实，出色的沟通和协调能力；</p>
                        <p>5、金融、IT、高科技企业工作经验者优先；</p>
                        <p>6、CPA优先。</p>
                    </div>
                </div>


                <div style="border-bottom: 1px solid #555555"></div>
                <div class="recruitment_p clear">
                    <a name="licaijingli">岗位名称</a>：<span id="position_title">理财经理</span>
                </div>
                <div class="recruitment_p">
                    <b>工作地点</b>：<span id="working_place">上海</span>
                </div>
                <div class="recruitment_p">
                    <b>岗位职责</b>：
                    <div id="position_function">
                        <p>1、负责开拓及发展个人理财业务项目；</p>
                        <p>2、审核贷款申请人资料是否齐全以及真实性；</p>
                        <p>3、与其他部门同事合作，完善核审流程，加强信用管理；</p>
                        <p>4、在工作中积极提出自己的意见和建议，优化工作流程。</p>
                    </div>
                </div>
                <div class="recruitment_p">
                    <b>任职资格</b>：
                    <div id="position_require">
                        <p>1、1年以上工作经验，有理财等相关工作经验者优先考虑；</p>
                        <p>2、工作主动负责，认真仔细，勤勉敬业，善于沟通，有较强的客户服务意识；</p>
                        <p>3、具有良好的客户沟通、人际交往及维系客户关系的能力；</p>
                        <p>4、能很快的学习新事物和新知识；</p>
                        <p>5、思维敏捷，具备创造性市场开拓的能力；</p>
                        <p>6、诚实守信，为人谦虚、正直，性格开朗，责任心强，具有高度的团队合作精神和高度的工作热情；</p>
                        <p>7、有强烈的创业意识，愿与公司一同成长；</p>
                        <p>8、具良好的沟通影响力、团队合作力和自我激励能力；</p>
                        <p>9、意愿从事销售性工作，个性积极乐观、能吃苦耐劳，有高度的责任心和职业操守；</p>
                        <p>10、有较好的逻辑分析能力，对数据敏感。</p>
                    </div>
                </div>

                <div style="border-bottom: 1px solid #555555"></div>
                <div class="recruitment_p clear">
                    <a name="kehujingli">岗位名称</a>：<span id="position_title">客户经理（业务员）</span>
                </div>
                <div class="recruitment_p">
                    <b>工作地点</b>：<span id="working_place">上海</span>
                </div>
                <div class="recruitment_p">
                    <b>岗位职责</b>：
                    <div id="position_function">
                        <p>1、负责日常客户信息的收集，发起业务，拓展渠道；</p>
                        <p>2、协助部门经理开展公司业务，推广公司产品；</p>
                        <p>3、负责与客户的日常沟通，发展和维护与客户的良好关系，为客户提供满意的服务；</p>
                        <p>4、对潜在客户进行定期走访，响应客户需求，为客户解决问题；</p>
                        <p>5、完成本部门下达的经营指标；</p>
                        <p>6、完成领导交给的其他工作。</p>
                    </div>
                </div>
                <div class="recruitment_p">
                    <b>任职资格</b>：
                    <div id="position_require">
                        <p>1、高中及以上学历；</p>
                        <p>2、高度的责任感与敬业精神；思维缜密，原则性强，正直，良好的思想品德和职业规范。</p>
                    </div>
                </div>






            </div>
        </div>
        <% include ../footer.html %>
    </div>
</div>
<script>
    $$(".hy_contact a").addClass("a-hover");
</script>
