<LINK media=all href="../stylesheets/about.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/about/index.html">天厦介绍</a></li>
            <li><a class="facing" href="/about/ceo.html">董事长寄语</a></li>
            <li><a href="/about/core.html">核心能力</a></li>
            <li><a href="/about/domain.html">业务领域</a></li>
            <li><a href="/about/idea.html">投资理念</a></li>
            <li><a href="/about/org.html">分支机构</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            董事长寄语
        </div>
        <style>
            .hy_right_left img{
                width:300px;
                height:360px;
                margin:15px 0 0 0;
            }
        </style>
        <img src="/images/huguozheng.jpg" />
        <p class="about_main" style="border-bottom: 0px;">
            亲爱的朋友：<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您好！<br><br>
            感谢您对上海天厦资产管理有限公司的关注与支持。<br><br>

            一个企业的价值，如同一个人的价值一样，在很大程度上并不取决于它已经成就了什么，而在于它正在追求什么。天厦这么多年一路走来，从一家地区性公司逐渐成长为一个布局全国的集团公司，正是我们天厦人不断追求明天的结果，也是不断追求明天的过程。<br><br>

            明天的天厦会是个什么样子？在我看来，她首先必须是一个能够创造价值的企业，必须能为国家、为社会创造财富，包括投资者、合作者和股东价值的实现，企业人生活的改善与事业的提升；其次，科学管理是企业走向长远的基石，我们公司将开始实施区域化管控模式，总部管理侧重于资源获取决策、资金统一调配、技术支持服务以及经营重点监督，提高区域公司的自主经营权，每一个区域公司形成一个利润中心，东南西北，全国齐动，在“立足中原”的基础上，“巩固上海、壮大广东、发展北京”。<br><br>

            无论如何，一个追求明天的企业不能自我满足，不能止步不前，必须不断创造，不断学习，不断挑战自己， 不断超越自己。我们天厦的发展历史也正是这样一个不断蜕变和超越的历史，尽管艰难，尽管痛苦，但无怨无悔，因为我们选择了明天，因为我们是要创造明天的企业。<br><br>

            共筑诚信，有您有我。<br>
            我们追求稳健经营，诚信为本。我们高举责任大旗，向着梦想前进。<br>
            我们追求勤勉做事，真诚做人。我们与光明者同行，共创无疆大业。

            <br>
        <div style="text-align: right">上海天厦资产管理有限公司 董事长</div><br>


                                                        <div style="text-align: right">胡国政</div></p>

    </div>
    <!--左边内容结束-->
    <!--右边内容开始-->
    <% include /right.html %>
    <% include ../footer.html %>
</div>
</div>

<SCRIPT language=JavaScript>
    $$(".hy_about a").addClass("a-hover");
</SCRIPT>