<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/about/org.html">分支机构</a></li>
            <li><a href="/about/org.html">上海天厦投资集团</a></li>
            <li><a class="facing" href="/about/guangzhouzhangxin.html">广州彰信投资管理公司</a></li>
            <li><a href="/about/hanzhonghengda.html">汉中恒大投资管理公司</a></li>
            <li><a href="/about/luoyangxinlian.html">洛阳信联财务咨询管理公司</a></li>
            <li><a href="/about/shanghaiyidan.html">上海亿丹投资管理公司</a></li>
            <li><a href="/about/tianxiabeijing.html">天厦北京分公司</a></li>
            <li><a href="/about/tianxiahenan.html">天厦河南分公司</a></li>
            <li><a href="/about/tianxiazhengzhou.html">天厦郑州分公司</a></li>
            <li><a href="/about/xianhengda.html">西安恒大投资管理公司</a></li>
            <li><a href="/about/xianhengtai.html">西安恒太投资管理公司</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left" style="width: 480px">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/about/index.html" class="gray">关于天厦</a>  &gt;
            广州彰信投资管理公司
        </div>

        <div class="investment-title">
            <h3><span></span>广州彰信投资管理公司</h3>
            <img src="/images/GSxtpGZZX.gif">
            <div class="investment-p" style="width: 480px">
                公司简介<br>
                广州彰信投资管理有限公司是为了积极响应广州市建立“广州民间金融街”市场而设立的投资公司。公司总部位于广州民间金融街越秀区长堤大马路328号，吸收了一批具有高水准的职业操守、卓越的创新精神、出众的业务能力以及成熟的金融管理经验的职业团队。他们在金融经纪、交易和技术服务、风险控制等方面具有丰富的知识和经验。我们的团队重视建立与客户的相互信任和发展长期合作关系，致力于提供全面的金融服务和技术支持，协助客户实现投资与发展的战略目标。几年来，通过对投资品种的深入了解，对服务的不断改进和对技术的日益创新。广州彰信投资管理有限公司为客户不断创造新价值，协助客户实现其长远战略发展目标。<br><br>
                <img src="/images/guangzhouzhangxin01.jpg" style="width: 480px;"><br><br><br>
                业务简介<br>
                广州彰信投资管理有限公司是一家以金融产品管理，投资咨询服务，资产经营配置及为各个地方政府和企事业单位提供招商引资项目海内外推荐。负责举办招商引资项目洽谈以及投资、引资服务。及企业资金托管以及专业收购银行不良资产。公司依托国内国际各大金融投资及交易机构为平台，为客户提供直接，规范与专业的投资咨询服务。公司更凭借创新的企业管理配合中国金融市场逐步完善，经济的繁盛，金融的开放；为中国金融业的发展铺就了一条充满挑战与机遇之路，同时也为广州彰信投资管理有限公司提供了无限的发展空间。公司以广州为中心发展至整个珠江三角地区，参与并分享中国金融业成长的未来。<br>
                <img src="/images/guangzhouzhangxin02.jpg" style="width: 480px;">
            </div>
        </div>

    </div>
    <% include /right.html %>
    <% include ../footer.html %>
</div>
</div>



<SCRIPT language=JavaScript>
    $$(".hy_about a").addClass("a-hover");
</SCRIPT>