<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/about/org.html">分支机构</a></li>
            <li><a href="/about/org.html">上海天厦投资集团</a></li>
            <li><a href="/about/guangzhouzhangxin.html">广州彰信投资管理公司</a></li>
            <li><a class="facing" href="/about/hanzhonghengda.html">汉中恒大投资管理公司</a></li>
            <li><a href="/about/luoyangxinlian.html">洛阳信联财务咨询管理公司</a></li>
            <li><a href="/about/shanghaiyidan.html">上海亿丹投资管理公司</a></li>
            <li><a href="/about/tianxiabeijing.html">天厦北京分公司</a></li>
            <li><a href="/about/tianxiahenan.html">天厦河南分公司</a></li>
            <li><a href="/about/tianxiazhengzhou.html">天厦郑州分公司</a></li>
            <li><a href="/about/xianhengda.html">西安恒大投资管理公司</a></li>
            <li><a href="/about/xianhengtai.html">西安恒太投资管理公司</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left" style="width: 480px">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/about/index.html" class="gray">关于天厦</a>  &gt;
            汉中恒大投资管理公司
        </div>

        <div class="investment-title">
            <h3><span></span>汉中恒大投资管理公司</h3>
            <img src="/images/GSxtpHZHD.gif">
            <div class="investment-p" style="width: 480px">
                公司简介<br>

                汉中恒大投资管理有限公司是经市工商行政管理局核准成立的专业性投资管理公司，注册资金2000万，公司坐落于汉中市汉台区北大街繁华地段，营业面积一千多平方米，拥有一支高素质管理团队和优秀的员工队伍，具有大专以上学历金融专业的员工占公司90%以上，现设有风控部、市场部、人事部、综合部等专业性部门，现有优秀职员50人以上。我公司拥有企业管理、资产管理、投资咨询、实体商业投资等多项业务综合投资服务平台，是综合实力强、资金雄厚的大型专业投资管理公司。<br>

                <img src="/images/hanzhonghengda01.jpg" style="width: 480px;"><br><br>
                我公司凭借雄厚的资本实力，高素质的管理团队和专业的优秀员工队伍，以及灵活的运作机制和完善的管理制度，构架起了民间投资人、投资机构与广大中小企业合作的桥梁，倾力打造出了三方共赢的格局，大力推动了中小企业的发展，确保了投资客户的资金安全，以及稳定时效的高收益。<br>

                公司秉承“恒久诚信、大爱无疆”的理念，严格按照专业要求进行风控把关，规范操作，服务热情，全力使顾客的闲散资金得到增值、保值的满意投资效果。近年来我们正逐步形成和完善自己的经营模式和特色风格，力求为国内中小企业提供优质、专业的服务，建立起公平、互信的合作伙伴关系，并根据不同地区、不同企业的综合特点，为其设计不同的经营合作方式。在此汉中恒大投资管理有限公司成立以来，必将把成功的投资管理模式全面推向金融市场，期待与客户共同努力、共同发展，最终达成利益最大化的美好局面。<br><br>

                <img src="/images/hanzhonghengda02.jpg" style="width: 480px;"><br><br>
                团队建设<br>

                汉中恒大投资管理公司成立以来力求打造一支高素质的管理团队和优秀的专业员工队伍，汉中恒大投资管理公司从两个提高、一个落实责任制入手，即提高全体员工的素质，定时定期组织员工对国家法规和国家金融政策的学习和研讨，诚实做人，诚信做事。另一方面提高员工综合业务水平，加强业务知识的学习和培训，对本公司业务流程进行分班、组、部的学习，使其做到理解精通细化。当月计划逐个落实到个人，形成竞争机制，每天组织班、组、部进行早会学习、探讨、总结经验、相互提升，下达任务，落实完成。要求每个员工，诚实守信，规范操作，热情高效服务，视客户为朋友、伙伴、上帝，在借贷风险控制上做到细节化，实事求是，专人负责。公司严格遵循操作规定，全程跟踪服务，遇到问题及时纠正防范，确保客户投资资金安全有效运行。强化内部管理，做好后勤保障，确保业务开展顺畅，优质服务于投资人和项目客户双方，确保公司科学、稳健的发展。相信在我们的共同努力之下，汉中恒大投资管理有限公司必将迎来更好的明天！

            </div>
        </div>

    </div>
    <% include /right.html %>
    <% include ../footer.html %>
</div>
</div>



<SCRIPT language=JavaScript>
    $$(".hy_about a").addClass("a-hover");
</SCRIPT>