<LINK media=all href="../stylesheets/about.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/about/index.html">天厦介绍</a></li>
            <li><a href="/about/ceo.html">董事长寄语</a></li>
            <li><a href="/about/core.html">核心能力</a></li>
            <li><a href="/about/domain.html">业务领域</a></li>
            <li><a class="facing" href="/about/idea.html">投资理念</a></li>
            <li><a href="/about/org.html">分支机构</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            投资理念
        </div>
        <img src="/images/pic_03touzilinian.gif" />
        <p class="about_main" style="border-bottom: 0px;">
            天厦资产以“共筑诚心，有您有我，价值创造，增值投资”为投资理念。<br>
            <br>

            天厦资产拥有专业化的项目投资和风控管理团队，其成员全部拥有资产管理硕士、MBA以上学历，并具有海外留学工作背景。公司团队有着丰富的大型项目投资管理经验，并通过对投资项目审慎高效的可行性评估、尽职调查、风险控制以及运营管控，确保投资人利益。</p>

    </div>
    <!--左边内容结束-->
    <!--右边内容开始-->
    <% include /right.html %>
    <% include ../footer.html %>
</div>
</div>

<SCRIPT language=JavaScript>
    $$(".hy_about a").addClass("a-hover");
</SCRIPT>