<LINK media=all href="../stylesheets/about.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
<% include ../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/about/origin.html">弘毅溯源</a></li>
            <li><a href="/about/corporation/introduce.html">弘毅介绍</a></li>
            <li><a href="/about/core/ability.html">核心能力</a></li>
            <li><a href="/about/operation/domain.html">业务领域</a></li>
            <li><a href="/about/invest/logos.html">投资理念</a></li>
            <li><a href="/about/course/glory.html">历程与荣誉</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            关于弘毅
        </div>
        <img src="/images/pic_03.gif" />
        <p class="about_main">
            弘毅投资专注中国市场，以&ldquo;增值服务，价值创造&rdquo;为核心投资理念，业务涵盖并购投资、成长型投资与跨境投资，投资的企业包括国有企业、民营企业和海外公司，已先后在建材、医药、装备制造、消费品、新能源、新材料、商业连锁、文化传媒、金融服务等多个行业进行了投资，打造了多个领先企业。截止2011年底被投企业资产总额11200亿元，整体销售额3300亿元，利税总额250亿元，这些企业为社会提供了超过260000个就业岗位。随着投资业务的推进，弘毅投资将涉足更多的行业。<span _fck_bookmark="1" style="display: none">&nbsp;</span><span><a class="blue_deep" href="/about/corporation/introduce.html">详细内容 &gt;&gt;</a></span></p>
        <h2>
            核心能力</h2>
        <p class="about_main">
            关注中国，帮助中国企业提高管理水平，提升品牌形象，帮助中国企业走向世界，是弘毅投资的核心能力。 <span _fck_bookmark="1" style="display: none">&nbsp;</span><span><a class="blue_deep" href="/about/core/ability.html">详细内容 &gt;&gt;</a></span></p>
        <div class="about_list">
            <div style="width: 550px">
                <p>
                    弘毅投资从不同环节为企业提供增值服务，创造、提升企业价值。</p>
                <dl title="通过调整企业的所有制、激励机制和决策机制，改善公司治理结构，释放企业活力">
                    <dd>
                        <img src="/images/pic_10.gif" /></dd>
                    <dd class="about_ddM">
                        通过调整企业的所有制、激励机制和决策机制，改善公司治理结构，释放企业活力</dd>
                    <dt>
                        机制调整</dt>
                </dl>
                <dl title="协助企业建立制定发展战略，并帮助企业建立制定、跟踪和调整战略的能力">
                    <dd>
                        <img src="/images/pic_07.gif" /></dd>
                    <dd class="about_ddM">
                        协助企业建立制定发展战略，并帮助企业建立制定、跟踪和调整战略的能力</dd>
                    <dt>
                        战略梳理</dt>
                </dl>
                <dl title="通过提升企业的管理理念、战略管理、财务管理、物流管理和营销管理水平系统性地改善企业的绩效">
                    <dd>
                        <img src="/images/pic_14.gif" /></dd>
                    <dd class="about_ddM">
                        通过提升企业的管理理念、战略管理、财务管理、物流管理和营销管理水平系统性地改善企业的绩效</dd>
                    <dt>
                        管理提升</dt>
                </dl>
                <dl title="协助企业进行融资、优化企业资本机构;合理利用财务杠杆提高股东的回报率;帮助企业提高现金流管理水平">
                    <dd>
                        <img src="/images/pic_15.gif" /></dd>
                    <dd class="about_ddM">
                        协助企业进行融资、优化企业资本机构；合理利用财务杠杆提高股东的回报率；帮助企业提高现金流管理水平</dd>
                    <dt>
                        金融服务</dt>
                </dl>
                <dl class="dl_bg_none" title="利用财务投资人优势帮助企业寻找合适的并购对象，实现企业的跨越式发展">
                    <dd>
                        <img src="/images/pic_18.gif" /></dd>
                    <dd class="about_ddM">
                        利用财务投资人优势帮助企业寻找合适的并购对象，实现企业的跨越式发展</dd>
                    <dt>
                        行业整合</dt>
                </dl>
                <dl class="dl_bg_none" title="利用投资人网络资源和人脉关系协助企业在研发、生产和市场等方面向全球拓展">
                    <dd>
                        <img src="/images/pic_19.gif" /></dd>
                    <dd class="about_ddM">
                        利用投资人网络资源和人脉关系协助企业在研发、生产和市场等方面向全球拓展</dd>
                    <dt>
                        国际拓展</dt>
                </dl>
            </div>
        </div>

    </div>
    <!--左边内容结束-->
    <!--右边内容开始-->
    <div class="hy_right_rigt left">
        <div class="hy_right_title">
            <h2>投资案例</h2>
            <div class="hy_right_p">
                <h3><a href="/investment/state/farm/13/1.html#invest_13" class="gray">中国玻璃控股有限公司</a></h3>
                <p  >中国玻璃控股有限公司是中国效率最高的平板玻璃制造商。2004年，联想控股旗...</p>
                <h3><a href="/investment/private/enterprise/23/1.html#invest_23" class="gray">科宝博洛尼</a></h3>
                <p  >科宝 • 博洛尼是中国整体厨房及整体家居领域的领先企业，整体厨房销售额位居...</p>
                <h3><a href="/investment/private/enterprise/24/1.html#invest_24" class="gray">先声药业（集团）有限公司</a></h3>
                <p  >先声药业是中国医药领域快速成长的民营企业之一，在医药营销和医药新产品研发方...</p>
                <h3><a href="/investment/state/farm/14/1.html#invest_14" class="gray">中联重科股份有限公司</a></h3>
                <p  >中联重科股份有限公司，创建于1992年，是中国工程机械装备制造龙头企业，全...</p>

            </div>
        </div>
        <div class="hy_right_title">
            <h2>新闻资讯</h2>
            <ul class="hy_right_ul">
                <li><a href="/news/28/one/428.html" class="gray">弘毅投资携手SMG 首度涉足影视业</a></li>
                <li><a href="/news/28/one/427.html" class="gray">PE巨头弘毅投资联姻SMG发起30亿元影视专项基金</a></li>
                <li><a href="/news/28/one/426.html" class="gray">专家称未来十年中美贸易不平衡局面将明显改善</a></li>
                <li><a href="/news/28/one/424.html" class="gray">赵令欢：无须抗周期</a></li>
                <li><a href="/news/28/one/425.html" class="gray">博鳌亚洲论坛投资人圆桌会议分论坛会议文字实录</a></li>
            </ul>
        </div>			</div>
    	<% include ../footer.html %>
        </div>
</div>

<SCRIPT language=JavaScript>

    $(document).ready(function(){
        $(".hy_about a").addClass("a-hover");
    });
</SCRIPT>