<LINK media=all href="../stylesheets/about.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
<% include ../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a class="facing" href="/about/index.html">天厦介绍</a></li>
            <li><a href="/about/ceo.html">董事长寄语</a></li>
            <li><a href="/about/core.html">核心能力</a></li>
            <li><a href="/about/domain.html">业务领域</a></li>
            <li><a href="/about/idea.html">投资理念</a></li>
            <li><a href="/about/org.html">分支机构</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            关于天厦
        </div>
        <img src="/images/pic_03.gif" />
        <p class="about_main" style="border-bottom: 0px;">
            上海天厦资产管理有限公司（简称“天厦资产”）成立于2012年9月，总部位于上海，旗下有广州彰信投资咨询有限公司、西安恒大投资管理有限公司、陕西恒太资产管理有限公司、汉中恒大投资管理有限公司、洛阳信联财务咨询管理有限公司、上海亿丹投资管理有限公司共多家全资子公司，并在北京、广州、深圳、郑州等地设立多家分公司。<br><br>

            天厦资产是一家以收购与处置银行、企事业单位及个人的不良资产为主的综合资产管理公司。公司成立以来，秉承一贯的严谨规范作风，始终以“受益人利益最大化”为经营理念，以专业化和差异化发展为基本战略，重点以资产管理主业，立足资本市场，不断强化能力建设、渠道建设和品牌建设，并以其严谨的投资态度、专业的投资理念、卓越的创新精神逐步发展成为中国资产管理行业中的新兴势力。</p>

    </div>
    <!--左边内容结束-->
    <!--右边内容开始-->
    <% include /right.html %>
    	<% include ../footer.html %>
        </div>
</div>

<SCRIPT language=JavaScript>
        $$(".hy_about a").addClass("a-hover");
</SCRIPT>