<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/about/org.html">分支机构</a></li>
            <li><a href="/about/org.html">上海天厦投资集团</a></li>
            <li><a href="/about/guangzhouzhangxin.html">广州彰信投资管理公司</a></li>
            <li><a href="/about/hanzhonghengda.html">汉中恒大投资管理公司</a></li>
            <li><a class="facing" href="/invest/luoyangxinlian.html">洛阳信联财务咨询管理公司</a></li>
            <li><a href="/about/shanghaiyidan.html">上海亿丹投资管理公司</a></li>
            <li><a href="/about/tianxiabeijing.html">天厦北京分公司</a></li>
            <li><a href="/about/tianxiahenan.html">天厦河南分公司</a></li>
            <li><a href="/about/tianxiazhengzhou.html">天厦郑州分公司</a></li>
            <li><a href="/about/xianhengda.html">西安恒大投资管理公司</a></li>
            <li><a href="/about/xianhengtai.html">西安恒太投资管理公司</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left" style="width: 480px">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/about/index.html" class="gray">关于天厦</a>  &gt;
            洛阳信联财务咨询管理公司
        </div>

        <div class="investment-title">
            <h3><span></span>洛阳信联财务咨询管理公司</h3>
            <img src="/images/b9941b10_ba61_c2c3_a271_8873b3eb4d41.jpg">
            <div class="investment-p" style="width: 480px">
                公司介绍<br>

                信联财务咨询管理有限公司成立于2010年2月5号，自成立以来，公司一直秉承客户、员工、公司三赢共惠的理念，不断的提高服务质量和服务水平，赢得了广大客户的充分的支持和信赖。<br><br>


                公司的经营范围<br>

                信联着手品牌建设，帮助市民树立民间投资意见，为个人和中小企业提供稳定安全的财务咨询、理财意见，通过自己的独特的风险控制方式和信用管理体系，为提供专业化、安全方式、一站式的财务管理方案，真正让客户“高收益、零风险”。<br><br>


                公司的理念<br>

                用我的行动连接你我他，您的满意就是我们的成功，用一流的待遇留住一流的人才，用心才能发展、努力才能成功，敢于竞争、善于竞争、赢得竞争，团结奋进、开拓创新、拼搏向上。<br><br>


                企业作风：<br>
                严格要求  精细经营  团结实干  快速高效<br><br>


                企业宗旨：<br>
                为员工创造机遇、为股东创造效益、为客户创造价值、为社会创造财富

            </div>
        </div>

    </div>
    <% include /right.html %>
    <% include ../footer.html %>
</div>
</div>



<SCRIPT language=JavaScript>
    $$(".hy_about a").addClass("a-hover");
</SCRIPT>