<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/about/org.html">分支机构</a></li>
            <li><a class="facing" href="/about/shanghaitianxia.html">上海天厦投资集团</a></li>
            <li><a href="/about/guangzhouzhangxin.html">广州彰信投资管理公司</a></li>
            <li><a href="/about/hanzhonghengda.html">汉中恒大投资管理公司</a></li>
            <li><a href="/about/luoyangxinlian.html">洛阳信联财务咨询管理公司</a></li>
            <li><a href="/about/shanghaiyidan.html">上海亿丹投资管理公司</a></li>
            <li><a href="/about/tianxiabeijing.html">天厦北京分公司</a></li>
            <li><a href="/about/tianxiahenan.html">天厦河南分公司</a></li>
            <li><a href="/about/tianxiazhengzhou.html">天厦郑州分公司</a></li>
            <li><a href="/about/xianhengda.html">西安恒大投资管理公司</a></li>
            <li><a href="/about/xianhengtai.html">西安恒太投资管理公司</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left" style="width: 480px">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/about/index.html" class="gray">关于天厦</a>  &gt;
            上海天厦投资集团
        </div>

        <div class="investment-title">
            <h3><span></span>上海天厦投资集团</h3>
            <img src="/images/GSxtpSHTX.gif">
            <div class="investment-p" style="width: 480px">
                公司简介<br>
                COMPANY PROFILE<br>
                上海天厦资产管理有限公司注册资金3000万元，旗下拥有12家分子公司，遍布上海、北京、广州、西安、郑州、洛阳、汉中等地，业务遍及海内外；本公司以产业投资为依托，以资本运营为手段，专业并购银行及企事业单位不良资产，国有企业的资产重组，控股，并购；扶持企业上市以及为各地方政府、企业进行招商引资；实体商业投资及管理，资产管理，投资咨询，股权投资，债权投资，财务咨询。房地产投资金融服务，金融产品创新，酒店投资经营，自营和代理各类商品技术的进出口业务为一体的综合性资产管理公司。<br><br>

                企业宗旨<br>
                ENTERPRISE MISSION<br>
                责任、合作、创业、创新、服务、贡献、不断完善自身管理和服务体系，竭尽所能为我们的客户提供周到、便捷、热情的服务，秉承“高效、务实、诚实”的宗旨。<br><br>

                经营理念<br>
                PHILOSOPHY<br>
                上海天厦资产管理有限公司坚持秉承“以客户为中心，与客户共成长”的经营理念，依托历经磨难的投资团队和声誉卓越的数量化管理团队，致力于为客户提供全方位、个性化的投资服务、较强的管理能力和良好的业界口碑，赢得了十分可贵的过往业绩和信用基础。<br><br>

                品牌建设<br>
                BRAND BUILDING<br>
                天厦着手品牌建设，帮助市民树立民间投资新观念，为个人和中小企业提供稳定、安全的财务咨询及投资意见，通过自己独特的风险控制方式和信用管理体系为您提供专业化、全方位、一站式的财务管理方案，真正让投资者“高效益”、“零风险”。<br><br>

                公司理念<br>
                COMPANY PHILOSOPHY<br>
                做最具理性的投资管理者<br>
                为客户创造财富为员工实现价值<br>
                用你我的行动连接你我他<br>
                您的满意就是我们的成功<br>
                做投资市场的领航者<br>
                用我们丰富的资产管理体系<br>
                为您量身定制投资方案<br>
                走进天厦 走进成功<br><br>

                企业文化<br>
                CORPORATE CULTURE<br>
                “共筑诚信有您有我”在表达上言简意赅，其寓意则深远旷达，传承着中国深厚的文化底蕴，又凸显了现代进取精神，既体现了上海天厦资产管理集团有限公司及所有控股企业的独有特质，又阐释了来自神州大地创业者的坚定信仰。<br>
                “共筑诚信”是上海天厦资产管理集团有限公司的行为责任规范与社会责任的宣言。表达了个体对自我的最高要求，充盈着人对自身严格意识。同时又阐述了企业共筑永恒的声誉及诚信的标杆。“有您有我”大爱没有边界、没有限制、没有偏见，宣示了上海天厦资产管理集团有限公司未来努力的方向和远大目标，将致力服务与个人及中小企业，以共赢为目的，精诚合作。成为国内投资领域公认的标杆企业。<br><br>

            </div>
        </div>

    </div>
    <% include /right.html %>
    <% include ../footer.html %>
</div>
</div>



<SCRIPT language=JavaScript>
    $$(".hy_about a").addClass("a-hover");
</SCRIPT>
