<div class="hy_right_rigt left">
    <div class="hy_right_title">
        <h2>基金产品</h2>
        <div class="hy_right_p">
            <h3><a href="/investment/state/farm/13/1.html#invest_13" class="gray">中国玻璃控股有限公司</a></h3>
            <p  >中国玻璃控股有限公司是中国效率最高的平板玻璃制造商。2004年，联想控股旗...</p>
        </div>
    </div>
    <div class="hy_right_title">
        <h2>投资案例</h2>
        <ul class="hy_right_ul">
            <li><a href="/invest/zztxjiali.html" class="gray">郑州天厦.嘉里中心</a></li>
            <li><a href="/invest/xianluoma.html" class="gray">西安骡马.星时代</a></li>
            <li><a href="/invest/hzlanhua.html" class="gray">汉中汉水华庭</a></li>
        </ul>
    </div>
</div>