<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/about/org.html">分支机构</a></li>
            <li><a href="/about/org.html">上海天厦投资集团</a></li>
            <li><a href="/about/guangzhouzhangxin.html">广州彰信投资管理公司</a></li>
            <li><a href="/about/hanzhonghengda.html">汉中恒大投资管理公司</a></li>
            <li><a href="/about/luoyangxinlian.html">洛阳信联财务咨询管理公司</a></li>
            <li><a href="/about/shanghaiyidan.html">上海亿丹投资管理公司</a></li>
            <li><a href="/about/tianxiabeijing.html">天厦北京分公司</a></li>
            <li><a class="facing" href="/about/tianxiahenan.html">天厦河南分公司</a></li>
            <li><a href="/about/tianxiazhengzhou.html">天厦郑州分公司</a></li>
            <li><a href="/about/xianhengda.html">西安恒大投资管理公司</a></li>
            <li><a href="/about/xianhengtai.html">西安恒太投资管理公司</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left" style="width: 480px">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/about/index.html" class="gray">关于天厦</a>  &gt;
            天厦河南分公司
        </div>

        <div class="investment-title">
            <h3><span></span>天厦河南分公司</h3>
            <img src="/images/b9941b10_ba61_c2c3_a271_8873b3eb4d41.jpg">
            <div class="investment-p" style="width: 480px">
                上海天厦资产管理有限公司河南省分公司是经河南省工商行政管理局批准，成立于2013年5月，地址位于郑州，资产管理，投资管理，投资咨询，实业投资，创业投资，经济信息资讯，企业管理资讯，企业形象设计，技术推广服务，市场信息咨询与调查，会务服务，展览展示服务，为缺少资金的小微企业提供资金帮助及提供理财咨询服务，对缓解我国小微企业融资难问题开辟了一条崭新的途径，也标志着国内民间借贷由零散的。半地下的、小范围的操作，向规范化、产业化、阳光化经营路径的转变。<br><br>
                公司投研团队重视与上市公司的沟通交流，注重与专业研究机构、投资机构的合作，依托众多的中国主流研究机构的研究平台，力求在国内主流投资趋势中占据领先地位。<br><br>
                公司拥有良好的客户群体并在不断扩展之中，公司的主旨是秉承恪守价值、尊重趋势、精准制导、绝对回报的投资理念，在严格控制风险的前提下，寻求确定性投资机会，以客户资产持续保值增值为目标，追求长期复合绝对收益，为客户创造价值。<br><br>

                公司经营理念<br>
                自成立之日起，公司就树立了“稳健经营、锐意进取”的经营理念，致力于成为国内卓越的专业资产管理机构之一。<br><br>

                公司价值观<br>
                （一） 客户第一、员工第二、股东第三<br>
                （二） 渴望成功。只要是我们想做的，就一定要做成业内最好<br>
                （三） 成功不是偶然，只能来自于专注和勤奋<br>
                （四） 言而有信，视信誉如生命<br><br>

                投资目标<br>
                上海天厦资产管理有限公司中国领先从事中小企业及个人投资咨询与服务的公司。上海天厦资产管理有限公司河南分公司团队是一个充满激情和梦想的团队。我们在全力为用户创造价值的同时，也在努力实现自己的价值。我们相信，随着互联网的发展和中国私有财产保护法制机制的健全，创新的理念和务实的团队将给中国民间借贷市场带来历史性的变革，我们希望成为这场变革的引领者。<br><br>

                投资理念<br>
                上海天厦资产管理有限公司河南分公司的投资理念是，客户资金安全是一切投资的出发点，在风险可控的前提下，我们尊重趋势、恪守价值、追求绝对回报，以资产持续稳健增值为终极目标。因此我们坚持有所为有所不为（坚守自己的能力圈），聚焦成长深度挖掘（挖掘符合我们价值体系的品种），摒弃一切噪音（谨防陷入大众幻想和群体性癫狂），安静从容的做投资。<br><br>
                聚摒弃一切噪音（谨防陷入大众幻想和群体性癫狂），安静从容的做投资：<br><br>
                几乎所有确定的趋势都伴随着质疑的声音，当然并不妄想要领先于市场或者去作什么“占卜”式的预测，但我们坚信只有在嘈杂的市场中保持冷静从容的心态，使眼光和决策领先市场大多数参与者一步，才可以在群人角力的投资市场脱颖而出，在金钱游戏中成为胜利者。<br><br>

            </div>
        </div>

    </div>
    <% include /right.html %>
    <% include ../footer.html %>
</div>
</div>



<SCRIPT language=JavaScript>
    $$(".hy_about a").addClass("a-hover");
</SCRIPT>