<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/about/org.html">分支机构</a></li>
            <li><a href="/about/org.html">上海天厦投资集团</a></li>
            <li><a href="/about/guangzhouzhangxin.html">广州彰信投资管理公司</a></li>
            <li><a href="/about/hanzhonghengda.html">汉中恒大投资管理公司</a></li>
            <li><a href="/about/luoyangxinlian.html">洛阳信联财务咨询管理公司</a></li>
            <li><a href="/about/shanghaiyidan.html">上海亿丹投资管理公司</a></li>
            <li><a href="/about/tianxiabeijing.html">天厦北京分公司</a></li>
            <li><a href="/about/tianxiahenan.html">天厦河南分公司</a></li>
            <li><a href="/about/tianxiazhengzhou.html">天厦郑州分公司</a></li>
            <li><a class="facing" href="/about/xianhengda.html">西安恒大投资管理公司</a></li>
            <li><a href="/about/xianhengtai.html">西安恒太投资管理公司</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left" style="width: 480px">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/about/index.html" class="gray">关于天厦</a>  &gt;
            西安恒大投资管理公司
        </div>

        <div class="investment-title">
            <h3><span></span>西安恒大投资管理公司</h3>
            <img src="/images/GSxtpXAHD.gif">
            <div class="investment-p" style="width: 480px">
                陕西省汉中恒大投资管理（西安）有限公司是经市工商行政管理局核准成立的专业投资管理公司，注册资金2000万，该公司拥有企业管理服务，资产管理、投资咨询、实体商业投资等多项业务的综合服务平台，是具有雄厚资金实力综合性强大的投资管理有限公司。<br><br>
                <img src="/images/xianhengda01.JPG" style="width: 480px;"><br><br>
                公司自2012年6月15日成立至今获社会各界好评，陕西省工商行政管理局、陕西工商理事会于2012年12月颁给我司“陕西工商理事会常务理事单位”；陕西省企业质量管理中心于2013年颁给我司“陕西省投资担保行业领军企业”及“陕西省投资担保行业优秀企业”；陕西省3.15诚信维权组委会及陕西省企业诚信协会于2013年颁给我司“3.15诚信经营示范单位”；陕西省纪念3.15活动组委会及陕西省企业质量管理中心于2013年颁给我司“3.15质量诚信重点推荐企业”；陕西省诚信评审委员会、陕西省企业诚信协会于2013年颁给我司“陕西省三星级诚信单位”。<br><br>
                <img src="/images/xianhengda02.JPG" style="width: 480px;"><br><br>
                公司凭借雄厚的资本实力、高素质的管理团队、优秀的员工队伍、灵活运作机制以及完善的管理制度，构架起民间投资人、投资机构与广大中小企业合作的桥梁，倾力打造三方共赢的格局，推动中小企业的快速发展，确保投资客户资金安全，稳定，高收益。<br><br>

            </div>
        </div>

    </div>
    <% include /right.html %>
    <% include ../footer.html %>
</div>
</div>



<SCRIPT language=JavaScript>
    $$(".hy_about a").addClass("a-hover");
</SCRIPT>