<LINK media=all href="../../stylesheets/news.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/news/private.html">天厦资讯</a></li>
            <li><a href="/news/industry.html">行业资讯 </a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/news/index.html" class="gray">新闻资讯</a>  &gt;
            天厦资讯
        </div>
        <img src="/images/news_private.gif">

        <div class="z_news_main">
            <h2>“天厦财富一号”基金正式成立
                <span><span style="margin-left:10px;">2013-11-01</span></span>
            </h2>
            <span><a href="#" onclick="javascript:window.print();" class="blue">打印</a><a href="javascript:tn(12)" class="blue">小</a> <a href="javascript:tn(14)" class="blue">中</a><a href="javascript:tn(16)" class="blue">大</a>      </span>
            <div id="objcentent">
             <p>上海天厦资产管理有限公司旗下第一支地产股权投资私募基金——“天厦财富一号”正式成立，拟第一期募集2亿，募集期限2个月，详情请见“基金产品”。</p>
            </div>
        </div>
    </div>
    <!--右边内容开始-->
    <% include ../../contact/contact.html %>
    <% include ../../footer.html %>
</div>
</div>
<script>
    $$(".hy_news a").addClass("a-hover");
</script>