<LINK media=all href="../../stylesheets/news.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/news/private.html">天厦资讯</a></li>
            <li><a href="/news/industry.html">行业资讯 </a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/news/index.html" class="gray">新闻资讯</a>  &gt;
            行业资讯
        </div>
        <img src="/images/news_industry.gif">

        <div class="z_news_main">
            <h2>央行通过7天期逆回购向市场注入170亿元
                <span><span style="margin-left:10px;">2013-07-30</span></span>
            </h2>
            <span><a href="#" onclick="javascript:window.print();" class="blue">打印</a><a href="javascript:tn(12)" class="blue">小</a> <a href="javascript:tn(14)" class="blue">中</a><a href="javascript:tn(16)" class="blue">大</a>      </span>
            <div id="objcentent">
             <p>消息人士称，今日央行将通过7天期逆回购操作向市场注入170亿元。此举意味着央行终于开始注资。此外，今天有央票到期注入850亿元，由此可见央行终于选择避免流动性过紧给市场造成重大冲击。

                 临近月末资金压力有增无减，资金面紧张程度远超过短端回购利率表现，在此背景下，市场都在翘首期盼央行的逆回购，但上周央行仍然未在公开市场开展任何操作。这是自6月20日银行间出现“钱荒”现象以来，央行连续第5周在公开市场上“零操作”，也是近几年来历时最长的公开市场空窗期。

                 数据显示，今年金融机构外汇占款余额为273887.46亿元，环比减少412.05亿元，这是自去年12月份以来外汇占款首度环比下滑。另据国家外汇管理局公布的数据显示，6月银行结售汇逆差4亿美元，这也是今年以来银行结售汇首次出现逆差。</p>
            </div>
        </div>
    </div>
    <!--右边内容开始-->
    <% include ../../contact/contact.html %>
    <% include ../../footer.html %>
</div>
</div>
<script>
    $$(".hy_news a").addClass("a-hover");
</script>