<LINK media=all href="../../stylesheets/news.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/news/private.html">天厦资讯</a></li>
            <li><a href="/news/industry.html">行业资讯 </a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/news/index.html" class="gray">新闻资讯</a>  &gt;
            行业资讯
        </div>
        <img src="/images/news_industry.gif">

        <div class="z_news_main">
            <h2>银联国际与澳新银行签署全球合作备忘录
                <span><span style="margin-left:10px;">2013-01-17</span></span>
            </h2>
            <span><a href="#" onclick="javascript:window.print();" class="blue">打印</a><a href="javascript:tn(12)" class="blue">小</a> <a href="javascript:tn(14)" class="blue">中</a><a href="javascript:tn(16)" class="blue">大</a>      </span>
            <div id="objcentent">
             <p>1月15日，银联国际与澳大利亚澳新银行（ANZ）宣布，双方已于近日签署全球合作备忘录。根据合作备忘录，双方将共同优化银联卡在澳大利亚、新西兰及亚太地区的使用环境，并探讨在更多业务领域开展合作。

                 </p><p>作为此次合作的重点市场，澳大利亚已有超过五成ATM和9万家商户可以使用银联卡。这些受理点主要分布在品牌连锁店、机场免税店、旅游景点、酒店餐饮等游客常到的场所，并延伸到交通和教育行业，全澳97%的出租车都接受银联卡支付车费。国内消费者还可足不出户，通过银联在线支付跨境直购澳洲奶粉等特色商品。</p>
            </div>
        </div>
    </div>
    <!--右边内容开始-->
    <% include ../../contact/contact.html %>
    <% include ../../footer.html %>
</div>
</div>
<script>
    $$(".hy_news a").addClass("a-hover");
</script>