<LINK media=all href="../stylesheets/news.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/news/private.html">天厦资讯</a></li>
            <li><a href="/news/industry.html">行业资讯 </a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            新闻资讯
        </div>
        <img src="/images/news_03.gif">

        <h2><span class="news_more"><a href="/news/private.html" class="blue">more</a></span>天厦资讯</h2>
        <div class="news-title">
            <img src="/images/c55ac123_ac48_3245_94d4_944d82ab5368.jpg">
            <dl>
                <dt>·<a href="/news/static/1.html" class="gray">“天厦财富一号”基金正式成立</a></dt>
                <dd>2013-11-01</dd>
            </dl>

        </div>
        <h2 class="clear"><span class="news_more"><a href="/news/industry.html" class="blue">more</a></span>行业资讯</h2>
        <div class="news-title" style="border:none;">
            <img src="/images/a4fa17e5_6dd6_e390_d8c4_a44be499ebda.jpg">
            <dl>
                <dt>·<a href="/news/static/2.html" class="gray">央行通过7天期逆回购向市场注入170亿元</a></dt>
                <dd>2013-07-30</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/static/3.html" class="gray">银联国际与澳新银行签署全球合作备忘录</a></dt>
                <dd>2012-01-17</dd>
            </dl>

        </div>
    </div>
    <!--右边内容开始-->
    <% include ../contact/contact.html %>
    <% include ../footer.html %>
    </div>
</div>
<script>
        $$(".hy_news a").addClass("a-hover");
</script>