<LINK media=all href="../stylesheets/news.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/news/private.html">天厦资讯</a></li>
            <li><a href="/news/industry.html">行业资讯 </a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            新闻资讯
        </div>
        <img src="/images/news_03.gif">

        <h2><span class="news_more"><a href="/news/private.html" class="blue">more</a></span>天厦资讯</h2>
        <div class="news-title">
            <img src="/images/c55ac123_ac48_3245_94d4_944d82ab5368.jpg">
            <dl>
                <dt>·<a href="/news/28/one/428.html" class="gray">天厦资产携手SMG 首度涉足影视业</a></dt>
                <dd>2013-06-13</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/427.html" class="gray">PE巨头天厦资产联姻SMG发起30亿元影视专项基金</a></dt>
                <dd>2013-06-12</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/426.html" class="gray">专家称未来十年中美贸易不平衡局面将明显改善</a></dt>
                <dd>2013-05-23</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/424.html" class="gray">赵令欢：无须抗周期</a></dt>
                <dd>2013-04-08</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/425.html" class="gray">博鳌亚洲论坛投资人圆桌会议分论坛会议文字实录</a></dt>
                <dd>2013-04-07</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/422.html" class="gray">天厦资产总裁赵令欢：中国PE市场是沃土也疯狂</a></dt>
                <dd>2013-03-25</dd>
            </dl>
        </div>
        <h2 class="clear"><span class="news_more"><a href="/news/industry.html" class="blue">more</a></span>行业资讯</h2>
        <div class="news-title" style="border:none;">
            <img src="/images/a4fa17e5_6dd6_e390_d8c4_a44be499ebda.jpg">
            <dl>
                <dt>·<a href="/news/29/one/409.html" class="gray">中软国际与华为合资公司正式挂牌 </a></dt>
                <dd>2012-04-08</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/404.html" class="gray">中国软件国际：华为将参股旗下新成立的IT外包旗舰公司</a></dt>
                <dd>2012-01-17</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/399.html" class="gray">意前总理参观中联重科 盛赞收购CIFA成效 </a></dt>
                <dd>2011-09-19</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/394.html" class="gray">巨石集团 技术革新推动玻纤工业转型升级</a></dt>
                <dd>2011-06-01</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/389.html" class="gray">撑起制药龙头企业的创新大旗</a></dt>
                <dd>2011-05-25</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/379.html" class="gray">“巨石”加快海外子公司发展步伐</a></dt>
                <dd>2011-05-18</dd>
            </dl>
        </div>
    </div>
    <!--右边内容开始-->
    <% include ../contact/contact.html %>
    <% include ../footer.html %>
    </div>
</div>
<script>
        $$(".hy_news a").addClass("a-hover");
</script>