<LINK media=all href="../stylesheets/news.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/news/invested/1.html">被投企业资讯 </a></li>
            <li><a href="/news/hony/1.html">弘毅资讯</a></li>
            <li><a href="/news/media/contact.html">媒体联络</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            新闻资讯
        </div>
        <img src="/images/news_03.gif">

        <h2><span class="news_more"><a href="/news/hony/1.html" class="blue">more</a></span>弘毅资讯</h2>
        <div class="news-title">
            <img src="/images/c55ac123_ac48_3245_94d4_944d82ab5368.jpg">
            <dl>
                <dt>·<a href="/news/28/one/428.html" class="gray">弘毅投资携手SMG 首度涉足影视业</a></dt>
                <dd>2013-06-13</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/427.html" class="gray">PE巨头弘毅投资联姻SMG发起30亿元影视专项基金</a></dt>
                <dd>2013-06-12</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/426.html" class="gray">专家称未来十年中美贸易不平衡局面将明显改善</a></dt>
                <dd>2013-05-23</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/424.html" class="gray">赵令欢：无须抗周期</a></dt>
                <dd>2013-04-08</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/425.html" class="gray">博鳌亚洲论坛投资人圆桌会议分论坛会议文字实录</a></dt>
                <dd>2013-04-07</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/28/one/422.html" class="gray">弘毅投资总裁赵令欢：中国PE市场是沃土也疯狂</a></dt>
                <dd>2013-03-25</dd>
            </dl>
        </div>
        <h2 class="clear"><span class="news_more"><a href="/news/invested/1.html" class="blue">more</a></span>被投资讯</h2>
        <div class="news-title" style="border:none;">
            <img src="/images/a4fa17e5_6dd6_e390_d8c4_a44be499ebda.jpg">
            <dl>
                <dt>·<a href="/news/29/one/409.html" class="gray">中软国际与华为合资公司正式挂牌 </a></dt>
                <dd>2012-04-08</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/404.html" class="gray">中国软件国际：华为将参股旗下新成立的IT外包旗舰公司</a></dt>
                <dd>2012-01-17</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/399.html" class="gray">意前总理参观中联重科 盛赞收购CIFA成效 </a></dt>
                <dd>2011-09-19</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/394.html" class="gray">巨石集团 技术革新推动玻纤工业转型升级</a></dt>
                <dd>2011-06-01</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/389.html" class="gray">撑起制药龙头企业的创新大旗</a></dt>
                <dd>2011-05-25</dd>
            </dl>
            <dl>
                <dt>·<a href="/news/29/one/379.html" class="gray">“巨石”加快海外子公司发展步伐</a></dt>
                <dd>2011-05-18</dd>
            </dl>
        </div>
    </div>
    <!--右边内容开始-->
    <div class="hy_right_rigt left">
        <div class="hy_right_title">
            <h2>联系我们</h2>
            <div class="hy_right_p">
                <h3>北京市海淀区科学院南路2号，融科资讯中心C座南楼6层</h3>
                <p class="bg_none">电 话： +86 10 8265 5888</p>
                <p class="bg_none">传 真： +86 10 8265 5800</p>
                <p class="padding_10"><a href="mailto:honymaster@honycapital.com" class="gray">honymaster@honycapital.com</a></p>
                <h3>香港中环交易广场第一座27楼2701 室</h3>
                <p class="bg_none">电 话：+852 3961 9700</p>
                <p class="bg_none">传 真：+852 3971 9799</p>
                <p class="padding_10"><a href="mailto:honymaster@honycapital.com" class="gray">honymaster@honycapital.com</a></p>
                <h3>上海市黄浦区圆明园路149号哈密大楼</h3>
                <p class="bg_none">电话：+86 21 60322888</p>
                <p class="bg_none">传真：+86 21 60322800</p>
                <p class="bg_none padding_10"><a href="mailto:honymaster@honycapital.com" class="gray">honymaster@honycapital.com</a></p>
            </div>
        </div>
    </div>
    <% include ../footer.html %>
    </div>
</div>
<script>
    $(document).ready(function(){
        $(".hy_news a").addClass("a-hover");
    });
</script>