<LINK media=all href="../stylesheets/news.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>
<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a  href="/news/private.html">天厦资讯</a></li>
            <li><a class="facing" href="/news/industry.html">行业资讯 </a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/news/index.html" class="gray">新闻资讯</a>  &gt;
            行业资讯
        </div>
        <img src="/images/news_industry.gif">
        <!--					  <h2>天厦资讯</h2>-->
        <form method="post" action="" style="text-align:right;">
            <select name="" value="" onchange="search_year(this.value);" id="news_year">
                <option value="0">全部</option>
                <option value="2013">2013</option>
            </select>
        </form>
        <script>
            function search_year(year){
                window.location.href	=	'/news/industry.html';
            }
        </script>
        <dl class="no_border">
            <dt>·<a class="gray" href="/news/static/2.html">央行通过7天期逆回购向市场注入170亿元</a></dt>
            <dd>2013-07-30</dd>
            <dt class="dt_color">·<a class="gray" href="/news/static/3.html">PE巨头天厦投资联姻SMG发起30亿元影视专项基金</a></dt>
            <dd class="dt_color">2013-01-17</dd>

        </dl>
        <div class="investment-foot">
            <a href="/news/industry.html" class="spacing">1</a>
            <!--<a class="gray_ccc" href="/news/industry/1.html">1</a>-->
        </div>
    </div>
    <!--右边内容开始-->
    <% include ../contact/contact.html %>
    <% include ../footer.html %>
</div>
</div>
<script>
    $$(".hy_news a").addClass("a-hover");
</script>