<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/invest/index.html">投资项目概览</a></li>
            <li><a href="/invest/zztxjiali.html">郑州天厦.嘉里中心</a></li>
            <li><a href="/invest/xianluoma.html">西安骡马.星时代</a></li>
            <li><a class="facing" href="/invest/hzlanhua.html">汉中汉水华庭</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/invest/index.html" class="gray">投资案例</a>  &gt;
            汉中汉水华庭
        </div>

        <div class="investment-title">
            <h3><span></span><a href="/invest/hzlanhua.html" style="color: #163f84;">汉中汉水华庭</a></h3>
            <img src="/images/hzlanhualogo.jpg">
            <div class="investment-p">
                汉水华庭酒店是由陕西荣威置业有限公司开发，其中包括地下一层（停车场）、地上十层，共十一层酒店项目。<br><br>
                地址位于天汉大道与南郑大道转盘处向西500米处（东方工业厂对面），地处西汉高速公路南出口以东，地理位置优越、停车方便、交通便利。基于此酒店位于陕西省汉中市经济开发区南区的优势，以及周边配套设施齐全、环境优雅，三公里范围内医疗、学校、出行、购物、休闲应有尽有，是本地居民以及外地游客的首选优质酒店。<br><br>
                <img src="/images/hsht02.jpg" style="width: 480px"><br>
                经汉中恒大投资管理有限公司风控部严格把关、实地考察后评估此酒店后期的经济发展还有更大的提升空间，此酒店必将有更好的发展前景。<br>
                <img src="/images/hzlanhua01.jpg" style="width: 480px"><br>

            </div>
        </div>


        <div class="investment-foot" style="display:none;">
            <a href="/investment/portfolio/0/0/1.html" class="spacing">1</a><a href="/investment/portfolio/0/0/2.html">2</a><a href="/investment/portfolio/0/0/3.html">3</a><a href="/investment/portfolio/0/0/4.html">4</a><a href="/investment/portfolio/0/0/5.html">5</a><a href="/investment/portfolio/0/0/6.html">6</a>
        </div>
    </div>
    <% include ../footer.html %>
</div>
</div>

<SCRIPT language=JavaScript>
    $$(".hy_portfolio a").addClass("a-hover");
    $$(".investment-title img").setStyle("float","none");
</SCRIPT>