<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
<div class="hy_main_left left">
    <ul>
        <li><a class="facing" href="/investment/portfolio/0/0/1.html">投资项目概览</a></li>
        <li><a href="/investment/state/farm/0/1.html">国有企业</a></li>
        <li><a href="/investment/private/enterprise/0/1.html">民营企业</a></li>
        <li><a href="/investment/international/corporation/0/1.html">跨境企业</a></li>
    </ul>
</div>			<div class="hy_main_right left">
<!--左边内容开始-->
<div class="hy_right_left left">
<div class="main_banner">
    <a href="/index.html" class="gray">首页</a>  &gt;
    <a href="/investment/portfolio/0/0/1.html" class="gray">投资案例</a>  &gt;
    投资项目概览
</div>
<p style="text-indent:0;">自2003年成立以来，弘毅投资已投资于超过60家企业。截止2011年底，被投企业资产总额11200亿元，整体销售额3300亿元，利税总额250亿元，这些企业为社会提供了超过260000个就业岗位。</p>
<!--<div class="investment-map">-->
    <!--<div class="investment-map-title">投资案例地图</div>-->
    <!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="713" height="320">-->
        <!--<param name="movie" value="/s/pic/map.swf">-->
        <!--<param name="quality" value="high">-->
        <!--<embed src="/s/pic/map.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="713" height="320">-->
    <!--</object>-->
<!--</div>-->
<div class="investment-mode">
    <select name="type_id" id="type_id" onchange="go_url();">
        <option value="0">投资项目概览</option>
        <option value="1">国有企业</option>
        <option value="2">民营企业</option>
        <option value="3">跨境企业</option>
    </select>
    <script>
        function go_url(){
            var invest_area = 0;
            var type_id =$('type_id').value;
            window.location.href="/investment/portfolio/"+invest_area+"/"+type_id+"/1.html";
        }
    </script>
</div>
<div class="investment-title">
    <h3><span><a href="http://www.chinaglassholdings.com" target="_blank" class="blue">www.chinaglassholdings.com</a></span>中国玻璃控股有限公司</h3>
    <img src="/images/b9941b10_ba61_c2c3_a271_8873b3eb4d41.jpg">
    <div class="investment-p">
        中国玻璃控股有限公司是中国效率最高的平板玻璃制造商。2004年，联想控股旗下弘毅投资重组江苏玻璃集团为中国玻璃控股有限公司，2005年6月23日，中国玻璃在香港主板成功上市，并引入全球知名玻璃生产商PILKINGTON作为战略投资人。今天弘毅的中国玻璃案例已在全球传播。
        2004年1月，弘毅投资正式投资中国玻璃。

    </div>
</div>
<div class="investment-title">
    <h3><span><a href="http://www.boloni.com.cn" target="_blank" class="blue">www.boloni.com.cn</a></span>科宝博洛尼</h3>
    <img src="/images/b268fe59_448f_5e3e_7aa4_0bde598a13f2.jpg">
    <div class="investment-p">
        科宝 • 博洛尼是中国整体厨房及整体家居领域的领先企业，整体厨房销售额位居中国第一，具有优秀的管理团队和较强的市场开拓能力。
        2005 年 6 月，弘毅正式投资于科宝 • 博洛尼。

    </div>
</div>
<div class="investment-title">
    <h3><span><a href="http://www.simcere.com" target="_blank" class="blue">www.simcere.com</a></span>先声药业（集团）有限公司</h3>
    <img src="/images/79ddfe46_bb86_10bd_0287_5072312444df.jpg">
    <div class="investment-p">
        先声药业是中国医药领域快速成长的民营企业之一，在医药营销和医药新产品研发方面具有较强的竞争力，业务增长和盈利能力远超过行业平均水平，拥有多个亿元级的医药品种。
        2005年9月，弘毅正式投资于先声药业。
        2007年4月20日，先声药业在美国纽约证券交易所成功上市。
    </div>
</div>
<div class="investment-title">
    <h3><span><a href="http://www.zoomlion.com" target="_blank" class="blue">www.zoomlion.com</a></span>中联重科股份有限公司</h3>
    <img src="/images/f636aa51_e713_b800_651f_2c3555363b60.jpg">
    <div class="investment-p">
        中联重科股份有限公司，创建于1992年，是中国工程机械装备制造龙头企业，全国首批103家创新型试点企业之一。主要从事建筑工程、能源工程、交通工程等国家重点基础设施建设工程所需重大高新技术装备的研发制造。2008年9月，中联重科联合弘毅投资、高盛公司、曼达林基金收购欧美三大混凝土机械制造商之一CIFA，使中联在混凝土机械行业拥有全球领先、中国第一的地位。
        2006年5月，弘毅投资正式投资长沙中联重工科技发展股份有限公司。

    </div>
</div>

<div class="investment-foot" style="display:none;">
    <a href="/investment/portfolio/0/0/1.html" class="spacing">1</a><a href="/investment/portfolio/0/0/2.html">2</a><a href="/investment/portfolio/0/0/3.html">3</a><a href="/investment/portfolio/0/0/4.html">4</a><a href="/investment/portfolio/0/0/5.html">5</a><a href="/investment/portfolio/0/0/6.html">6</a>
</div>
</div>
    <% include ../footer.html %>
</div>
</div>

<SCRIPT language=JavaScript>
    $(document).ready(function(){
        $(".hy_portfolio a").addClass("a-hover");
    });
</SCRIPT>