<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
<div class="hy_main_left left">
    <ul>
        <li><a class="facing" href="/invest/index.html">投资项目概览</a></li>
        <li><a href="/invest/zztxjiali.html">郑州天厦.嘉里中心</a></li>
        <li><a href="/invest/xianluoma.html">西安骡马.星时代</a></li>
        <li><a href="/invest/hzlanhua.html">汉中汉水华庭</a></li>
    </ul>
</div>			<div class="hy_main_right left">
<!--左边内容开始-->
<div class="hy_right_left left">
<div class="main_banner">
    <a href="/index.html" class="gray">首页</a>  &gt;
    <a href="/invest/index.html" class="gray">投资案例</a>  &gt;
    投资项目概览
</div>
<p style="text-indent:0;">"投资并购重组”，是天厦资产运营体系中最具特点的业务模式。<br><br>

    投资并购重组业务，以收购和发展城市核心区域中的“价值被低估商业、住宅物业”和“停建商业、住宅物业”为目标。秉承“后定位、再创造”的理念，对并购后的项目进行重新定位，投入大资金升级改造，重新发掘其市场价值与社会价值。<br><br>

    天厦资产投资并购业务，以一线城市重点区域与二线城市核心区域为目标市场，目前已在西安、汉中、郑州等地完成多个成功案例，并正在着手操作北京、上海、深圳等一线城市的项目。</p>
<!--<div class="investment-map">-->
    <!--<div class="investment-map-title">投资案例地图</div>-->
    <!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,28,0" width="713" height="320">-->
        <!--<param name="movie" value="/s/pic/map.swf">-->
        <!--<param name="quality" value="high">-->
        <!--<embed src="/s/pic/map.swf" quality="high" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="713" height="320">-->
    <!--</object>-->
<!--</div>-->
<div class="investment-mode">
    <select name="type_id" id="type_id" onchange="go_url();">
        <option value="index">投资项目概览</option>
        <option value="zztxjiali">郑州天厦.嘉里中心</option>
        <option value="xianluoma">西安骡马.星时代</option>
        <option value="hzlanhua">汉中汉水华庭</option>
    </select>
    <script>
        function go_url(){
            var type_id =$('type_id').value;
            window.location.href="/invest/"+type_id+".html";
        }
    </script>
</div>
<div class="investment-title">
    <h3><span><a href="/invest/zztxjiali.html" style="color: #163f84;">详情</a></span><a href="/invest/zztxjiali.html" style="color: #163f84;">郑州天厦.嘉里中心</a></h3>
    <img src="/images/zztxjialilogo.jpg">
    <div class="investment-p">
        天厦·嘉里中心（原名天下豫商城、紫楠小区）建筑面积约23万平方米。 2013年10月，由政府部门牵头，原开发商美中置业与河南嘉里地产正式签订转让协议，同时整个项目被批准作为商品房出售。
    </div>
</div>
<div class="investment-title">
    <h3><span><a href="/invest/xianluoma.html" style="color: #163f84;">详情</a></span><a href="/invest/xianluoma.html" style="color: #163f84;">西安骡马.星时代</a></h3>
    <img src="/images/xianluomalogo.png">
    <div class="investment-p">
        骡马星时代位于骡马市步行街与东木头市交汇处，西安的核心商圈和主流消费区域中轴，双享东大街与南大街优势地段。项目沿袭骡马市传统商业理念，区域价值得天独厚。南城墙改造使得本项目的投资前景无比乐观。

    </div>
</div>
<div class="investment-title">
    <h3><span><a href="/invest/hzlanhua.html" style="color: #163f84;">详情</a></span><a href="/invest/hzlanhua.html" style="color: #163f84;">汉中汉水华庭</a></h3>
    <img src="/images/hzlanhualogo.jpg">
    <div class="investment-p">
        汉水华庭酒店是由陕西荣威置业有限公司开发，其中包括地下一层（停车场）、地上十层，共十一层酒店项目。
    </div>
</div>


</div>
    <% include ../footer.html %>
</div>
</div>

<SCRIPT language=JavaScript>
        $$(".hy_portfolio a").addClass("a-hover");
</SCRIPT>