<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/invest/index.html">投资项目概览</a></li>
            <li><a href="/invest/zztxjiali.html">郑州天厦.嘉里中心</a></li>
            <li><a class="facing" href="/invest/xianluoma.html">西安骡马.星时代</a></li>
            <li><a href="/invest/hzlanhua.html">汉中汉水华庭</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/invest/index.html" class="gray">投资案例</a>  &gt;
            西安骡马.星时代
        </div>

        <div class="investment-title">
            <h3><span></span><a href="/invest/xianluoma.html" style="color: #163f84;">西安骡马.星时代</a></h3>
            <img src="/images/xianluomalogo.png">
            <div class="investment-p">
                项目简介<br>

                骡马星时代位于骡马市步行街与东木头市交汇处，西安的核心商圈和主流消费区域中轴，双享东大街与南大街优势地段。项目沿袭骡马市传统商业理念，区域价值得天独厚。南城墙改造使得本项目的投资前景无比乐观。周边开元商城和民生百货两大商业巨头更会提供稳定的客流。项目东西向长约60米，南北向长约50米；规划总用地面积约为5亩，总建筑面积约22000┫。最高建筑高度为40米，其中地上建筑规划为8层，地下建筑规划为2层，负2层规划为大型停车场，负1层规划为商业，1-4层为精品服装广场， 5-8层为酒店式公寓。无论地段，投资价值还是未来升值空间，骡马?星时代都将是您的最佳选择。<br><br>
                <img src="/images/xianluoma01.jpg" style="width: 480px"><br>

                项目优势<br>

                位置：最佳的选择方向，当然是城市中心，经济发达，核心地段，骡马?星时代，钟楼以东，东大街以南，占据西安市中心的焦点位置，钟楼与东大街的人流将源源不断的向骡马市汇总。骡马?星时代，骡马市步行街的新起之秀。<br><br>

                <img src="/images/xianluoma02.jpg" style="width: 480px"><br>
                交通：交通网络成熟的地段，那钟楼骡马市周围的交通是毋庸置疑的发达。公交网络贯穿全城东西南北，地铁的开通会令这边的交通更加的便捷通畅。<br><br>

                客流：人流量大，聚集人多的地方是我们公认的高商业机率，如果说市中心,骡马市商业街的人流量是占据全城第二位置的，那没有哪个地方敢说它是第一，城墙以内的中心位置，从古至今都是人们聚集的最佳场所，各个方向的人都在这里聚集，可见这边的潜在商机有多强。<br><br>

                环境：西安人都知道骡马市步行街存在的历史悠久，那在这里的商圈是相当的稳固的，这里聚集了民生、沃尔玛等大的商家，他们的选择是经过专家研究挑选的，那么,应该不会错。这里云集了大量的时尚青年，都市白领，商业精英等人群，环境是相当优越的。<br><br>


            </div>
        </div>


        <div class="investment-foot" style="display:none;">
            <a href="/investment/portfolio/0/0/1.html" class="spacing">1</a><a href="/investment/portfolio/0/0/2.html">2</a><a href="/investment/portfolio/0/0/3.html">3</a><a href="/investment/portfolio/0/0/4.html">4</a><a href="/investment/portfolio/0/0/5.html">5</a><a href="/investment/portfolio/0/0/6.html">6</a>
        </div>
    </div>
    <% include ../footer.html %>
</div>
</div>

<SCRIPT language=JavaScript>
    $$(".hy_portfolio a").addClass("a-hover");
    $$(".investment-title img").setStyle("float","none");
</SCRIPT>
