<LINK media=all href="../stylesheets/porfolio.css" type=text/css rel=stylesheet>
<DIV class=hy_top>
    <% include ../header.html %>
</DIV>

<div class="hy_main">
    <div class="hy_main_left left">
        <ul>
            <li><a href="/invest/index.html">投资项目概览</a></li>
            <li><a class="facing" href="/invest/zztxjiali.html">郑州天厦.嘉里中心</a></li>
            <li><a href="/invest/xianluoma.html">西安骡马.星时代</a></li>
            <li><a href="/invest/hzlanhua.html">汉中汉水华庭</a></li>
        </ul>
    </div>			<div class="hy_main_right left">
    <!--左边内容开始-->
    <div class="hy_right_left left">
        <div class="main_banner">
            <a href="/index.html" class="gray">首页</a>  &gt;
            <a href="/invest/index.html" class="gray">投资案例</a>  &gt;
            郑州天厦.嘉里中心
        </div>

        <div class="investment-title">
            <h3><span></span><a href="/invest/zztxjiali.html" style="color: #163f84;">郑州天厦.嘉里中心</a></h3>
            <img src="/images/zztxjialilogo.jpg">
            <div class="investment-p">
                总体情况<br>

                天厦·嘉里中心（原名天下豫商城、紫楠小区）建筑面积约23万平方米。 2013年10月，由政府部门牵头，原开发商美中置业与河南嘉里地产正式签订转让协议，同时整个项目被批准作为商品房出售。<br><br>

                <img src="/images/zztxjiali01.jpg" style="width: 480px"><br>
                项目位置<br>

                天厦 · 嘉里中心位于航海路路南，紫荆山路路西，距离郑州市火车站车程为4.1公里，往东沿航海路仅6公里可直达高科技园区。<br>
                本项目交通极为便利，地处郑州市内南北主干道紫荆山路与东西主干道航海路交叉口，临近BRT站点，并且项目坐落在规划的地铁2号线航海路站的上盖（2号线计划于2014年上半年完工试运行）。<br><br>

                <img src="/images/zztxjiali02.jpg" style="width: 480px"><br>
                市场分析<br>

                本项目位于郑州最繁华的一级商圈以内，周围商业气氛浓厚，配套设施齐全，是非常成熟的商业及住宅社区。<br>
                项目户型均为二房及三房，面积在80至160平米之间，属于绝对的刚性需求型住房，能完全满足郑州市目前旺盛的居住型住房需求和改善型住房需求。<br>


                总结<br>

                本项目地理位置得天独厚，交通十分便利，优势非常明显。<br>

                成熟现房，周围社区成熟，配套设施齐全，购买力及购买欲望充足。<br>

                由于成本优势，本项目在平衡价格与去化速度上拥有很大的空间和灵活性，能充分保证未来现金流的稳定性和可控性，并且根据财务分析，此项目投资回报率极高（净利润率高达 65% ！）<br><br>
            </div>
        </div>


        <div class="investment-foot" style="display:none;">
            <a href="/investment/portfolio/0/0/1.html" class="spacing">1</a><a href="/investment/portfolio/0/0/2.html">2</a><a href="/investment/portfolio/0/0/3.html">3</a><a href="/investment/portfolio/0/0/4.html">4</a><a href="/investment/portfolio/0/0/5.html">5</a><a href="/investment/portfolio/0/0/6.html">6</a>
        </div>
    </div>
    <% include ../footer.html %>
</div>
</div>

<SCRIPT language=JavaScript>
    $$(".hy_portfolio a").addClass("a-hover");
    $$(".investment-title img").setStyle("float","none");
</SCRIPT>
